{% extends 'web/base.html' %}

{% block content %}
{% load static %}

        <div class="row justify-content-center mt-5">
                <div class="col-md-5">
                    <h2>REGISTER</h2>
                </div>
            </div>
            <div class="row justify-content-center mt-3">

                <div class="col-md-4">
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endif %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" name="name" class="form-control" id="name" required>
                        </div>
                        <div class="form-group">
                                <label for="college">College</label>
                                <input type="text" name="college" class="form-control" id="college" required>
                        </div>
                        <div class="form-group">
                            <label for="department">Department</label>
                            <input type="text" name="department" class="form-control" id="department" required>
                        </div>
                        <div class="form-group">
                                <label for="email">Email </label>
                                <input name="email" class="form-control" id="email" ></input>
                        </div>
                         <div class="form-group">
                                <label for="number">Number</label>
                                <input type="number" name="number" class="form-control" id="number" required>
                        </div>
                            <br>


                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
<br>
{% endblock %}